@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat/Montserrat\ Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/Montserrat//Montserrat\ Medium.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/Montserrat/Montserrat\ SemiBold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/Montserrat/Montserrat\ Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/Futura Heavy font.ttf');
}

/* To support smooth transition of colors while changing theme */

* {
    transition: ease color 0.7s;
    transition: ease background-color 0.7s;
    transition: ease background 0.7s;
}

/* Custom scrollbar */
::-webkit-scrollbar-button { 
    display: none; 
    height:20px;
    border-radius: 0px;
    background-color: #AAA;
} 
::-webkit-scrollbar-button:hover { 
    background-color: #AAA;
} 
::-webkit-scrollbar-thumb{ 
    background-color: var(--primary-color-light);    
    box-shadow: inset 0 0 10px 10px var(--primary-color);
    border: solid 3px transparent;
}
::-webkit-scrollbar-thumb:hover { 
    background-color: var(--primary-color-light);
    box-shadow: inset 0 0 10px 10px var(--primary-color);
    border: solid 2px transparent;
} 
::-webkit-scrollbar-track { 
    background-color: var(--primary-color-light);
   
} 
::-webkit-scrollbar-track:hover { 
    background-color: var(--primary-color-light);
    /* border-radius: 10px; */
} 
::-webkit-scrollbar { 
    width: 14px;
}

:root {
    --primary-color: #1e1e35;
    --primary-color-light: #2e2e4e; 
    --primary-color-white: #ffffff;
    --primary-color-gray: #c4c4c4;
    --primary-color-gray-light: #e2e2e2;
}

html, body {
    /* USED TO GET RID OF ANIMATION FLICKER IN ALBUM MODAL WHEN CLOSING
    EXPERIMENTAL
    EXPERIMENTAL
    EXPERIMENTAL*/
    overflow: hidden;
}

* {
    padding: 0px;
    margin: 0px;
}

#container {
    width: 100vw;
    height: 100vh !important;
    background-color: var(--primary-color);
}

#settingsPanelOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 7;
    cursor: pointer;
    pointer-events: none;
    transition: ease all 0.3s;
}

.showSettingsPanel {
    transform: translateX(0) !important;
}

.showSettingsOverlay {
    pointer-events: all !important;
    background-color: rgba(0, 0, 0, 0.45) !important;
}

#settingsPanel {
    height: 100%;
    background-color: var(--primary-color);
    border-right: solid 1px var(--primary-color-light);
    width: 200px;
    position: absolute;
    z-index: 8;
    box-sizing: border-box;
    transform: translateX(-200px);
    /* From myst <3 */
    transition: cubic-bezier(.1,.94,.58,1) transform 0.5s, ease background-color 0.7s;
    padding: 20px;
    padding-top: 50px;
}

.addMusicFlowModal {
    background-color: var(--primary-color) !important;
    width: 100% !important;
    height: 100% !important;
    transform: translateX(-200px);
    z-index: 7 !important;
}

.addMusicFlowModal .tingle-modal-box .tingle-modal-box__content {
    background-color: var(--primary-color) !important;
    border-radius: 8px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addMusicFlowModal .tingle-modal-box i {
    font-size: 28px;
    color: var(--primary-color-white);
}

.addMusicFlowModal .tingle-modal-box p {
    font-size: 18px;
    text-align: center;
    color: var(--primary-color-gray-light);
    font-family: Avenir;
    margin: 20px;
    margin-bottom: 26px;
}

#addMusicFlowProgress {
    height: 8px;
    width: 150px;
    -webkit-appearance: none !important;
    border: none !important;
    cursor: pointer;    
    transition: ease all 1s;
}

#addMusicFlowProgress::-webkit-progress-bar {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}

#addMusicFlowProgress::-webkit-progress-value {
    transition: ease-in-out width 1s;
    background-color: var(--primary-color-white);
    border-radius: 10px;
    height: 10px;
    transform: translateY(-1px);    
}

#themeHeading, #addMusicSettingsHeading {
    font-family: Futura;
    color: var(--primary-color-white);
    margin-bottom: 10px;
}


#themesContainer {
    box-sizing: border-box;
    display: flex;    
    flex-wrap: wrap;
}

#themeCircle {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 50px;
    transform: rotate(45deg);
    border: 2px solid var(--primary-color-light);
    margin: 6px;
    cursor: pointer;
}

.dynamicThemeCircle {
    background: linear-gradient(to right, #b993d6, #8ca6db);
}

#themeCircleFirst, #themeCircleSecond {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: relative;
    pointer-events: none;
}
  
#themeCircleFirst {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}
  
#themeCircleSecond {
    box-sizing: border-box;
    width: 50%;
}

#addMusicSettingsHeading {
    margin-top: 30px;
}

#selectBtn {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color-white);
    background-color: var(--primary-color-light);
    border-radius: 10px;
    cursor: pointer;
}

#selectBtn i {
    pointer-events: none;
}
    
  
.rowParent, .columnParent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}
  
.columnParent {
    flex-direction: column;
}

.flexChild {
    flex: 1;
    align-self: auto;
}

#titlebar {
    flex: 0 0 auto; height: 30px;
    background-color: var(--primary-color);
    width: 100vw;
    /* border-radius: 8px 8px 0 0; */
    -webkit-app-region: drag;
    z-index: 9;
}

#titlebar-settings-btn {
    display: inline-block;
    color: var(--primary-color-gray-light);
    float: left;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 10px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    color: var(--primary-color-gray);
    -webkit-app-region: no-drag;
    transition: ease all 0.2s;
    line-height: 30px;
}

#titlebar-settings-btn:hover {
    color: var(--primary-color-white);
}

#titlebar-title, #titlebar-buttons {
    display: inline-block;
}

#titlebar-title {
    font-family: Montserrat;
    font-size: 14px;
    padding-left: 6px;
    line-height: 30px;
    font-weight: 500;
    color: var(--primary-color-gray-light);
    width: 100px;
    float: left;
}

#titlebar-buttons {
    float: right;
    padding: 6px;
    /* padding-right: 10px; */
    padding-right: 5px;
}

#titlebar-buttons div {
    display: inline-block;
    /* height: 12px;
    width: 12px; */
    height: 18px;
    width: 18px;
    /* border-radius: 50%; */
    /* margin-left: 5px; */
    /* margin-left: 5px; */
    margin-left: 2px;
    -webkit-app-region: no-drag;
    transition: ease all 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color-light); */

    /* For new ones */
    color: var(--primary-color-gray);
    font-size: 12px;
    line-height: 18px;
}

#titlebar-buttons div:hover {
    color: var(--primary-color-white);
}

/* #minimize-btn {
    background-color: hsl(60, 96%, 70%);
}

#maximize-btn {
    background-color: hsl(120, 100%, 70%);
}

#close-btn {
    background-color: hsl(0, 97%, 70%);
}

#minimize-btn:hover {
    background-color: hsl(60, 62%, 40%);
}

#maximize-btn:hover {
    background-color: hsl(120, 64%, 39%);
}

#close-btn:hover {
    background-color: hsl(0, 61%, 41%);
}
   */
#sidebar {
    flex: 0 0 auto; 
    width: 200px;
    transition: ease all;
    background-color: var(--primary-color);
    /* border-radius: 0 0 0 8px; */
    border-right: solid 1px var(--primary-color-light);
    box-sizing: border-box;
}

#sidebarWrapper {
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    padding: 20px;
}

#sidebarHeading {
    font-family: Futura;
    color: var(--primary-color-gray);
    margin-bottom: 20px;
    margin-top: 30px;
}

.sidebarLinks {
    font-family: Avenir;
    color: var(--primary-color-gray-light);
    font-size: 16px;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 6px;
    transition: ease all 0.2s;
    border-radius: 5px;
}

.sidebarLinks:hover {
    color: var(--primary-color-white);
    /* transform: translateX(2px); */
    background-color: var(--primary-color-light);
    box-shadow: 0 3px 28px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
}

.sbSelected {
    background-color: var(--primary-color-light);
}

.sidebarLinks span {
    font-size: 20px;
    /* Highlighted class was getting added to icon for some reason, to fix this */
    pointer-events: none;
}

  
#main {
    background-color: var(--primary-color);
    /* removing the sidebar width */
    width: calc(100% - 200px);
    /* border-radius: 0 0 8px 0; */
    overflow-y: auto;
    /* Making empty space so player wont hide items */
    padding-bottom: 50px;
}

/* Player bar */

#playerBar {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

#playerBarArt {
    box-sizing: border-box;
    padding: 14px;
    width: 200px;
    height:200px;
    float: left;
    display: inline-block;
    transform: translateY(-120px);
}

#playerBarArt img {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px; 
    box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.4);
}

#playerBarControls {
    box-sizing: border-box;
    float: right;
    display: inline-block;
    background-color: var(--primary-color);
    border-top: 1px solid var(--primary-color-light);
    /* box-shadow: 0px -4px 20px -6px rgba(0, 0, 0, 0.4); */
    height: 100%;
    width: calc(100% - 200px);
    display: flex;  
    flex-direction: row;
    justify-content: space-between;   
}

#playerBarLeft, #playerBarMiddle, #playerBarRight {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
}

#playerBarLeft {
    padding: 10px;
}

#playerBarHeart {
    height: 50px;
    /* was causing other elements to move when animating heart */
    /* height: 100%; */
    float: left;
    margin-right: 10px;
    color: var(--primary-color-white);
    font-size: 20px;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
}

#playerBarHeart span {
    cursor: pointer;
}

#playerBarTitle, #playerBarArtist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#playerBarTitle {
    color: var(--primary-color-white);
    font-family: Futura;
    font-size: 16px;
    width: 140px;
    margin: 5px 0px 5px 0px;
}

#playerBarArtist {
    color: var(--primary-color-gray);
    font-family: Montserrat;
    font-size: 14px;
    width: 120px;
}

#playerBarMiddle {
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playerBarMediaButtons {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#playerBarMediaButtons i {
    cursor: pointer;
}

#playerBackBtn {
    color: var(--primary-color-gray-light);
    margin-right: 22px;
}

#playerPlayBtn {
    font-size: 22px;
    color: var(--primary-color-white);
}

#playerForwardBtn {
    color: var(--primary-color-gray-light);
    margin-left: 20px;
}

#playerProgressBarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#playerProgressBar {
    height: 8px;
    width: 400px;
    -webkit-appearance: none !important;
    border: none !important;
    cursor: pointer;    
    transition: ease all 1s;
}

#playerProgressBar::-webkit-progress-bar {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}

#playerProgressBar::-webkit-progress-value {
    transition: ease width 0.15s;
    background-color: var(--primary-color-white);
    border-radius: 10px;
    height: 10px;
    transform: translateY(-1px);    
}

#playerBarCurrentTime, #playerBarTotalTime {
    font-family: Avenir;
    color: var(--primary-color-gray-light);
    font-size: 11px;
    margin: 1px 6px 0px 6px;
}

#playerBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;
    width: 200px;
}

#playerVolumeBtn {
    color: var(--primary-color-gray-light);
    margin-right: 9px;
    transform: translateY(-1px);
}

#playerVolumeBar {
    height: 6px;
    width: 70px;
    -webkit-appearance: none !important;
    border: none !important;
    cursor: pointer; 
}

#playerVolumeBar::-webkit-progress-bar {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}

#playerVolumeBar::-webkit-progress-value {
    transition: ease width 0.15s;
    background-color: var(--primary-color-gray-light);
    border-radius: 10px;
    height: 8px;
    transform: translateY(-1px);    
}