@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat/Montserrat\ Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/Montserrat//Montserrat\ Medium.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/Montserrat/Montserrat\ SemiBold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/Montserrat/Montserrat\ Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Book.ttf');
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/Futura Heavy font.ttf');
}


#songsPageContainer {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

#songsHeading {
    color: var(--primary-color-white);
    font-family: Futura;
    margin-bottom: 20px;
    padding-left: 30px;
}


#songsContainer {
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}

#songSearchContainer {
    width: 160px;
    background-color: var(--primary-color-light);
    border-radius: 60px;
    height: 40px;
    color: var(--primary-color-white);
    padding: 0px 20px 0px 15px;  
    position: absolute;
    top: 50px;
    right: 40px; 
    box-shadow: 0px 0px 30px 20px var(--primary-color);
    z-index: 2;
}

#songSearchContainer>i {
    font-size: 16px;
    float: right;
    line-height: 40px;
}

.songSearch {
    color: var(--primary-color-white); 
    font-size: 16px;
    line-height: 40px;
    width: 100px;
    height: 40px;
    border-radius: 0px 60px 60px 0px;
    border: 0px;
    background-color: transparent;
    border-color: transparent;
    margin-left: 5px;
    box-sizing: border-box;
    font-family: Avenir;
}

.songSearch::placeholder {
    color: var(--primary-color-gray);
}

.songSearch:focus {
    outline: none;
}

#categoryRowSongs {
    font-family: Avenir;
    color: var(--primary-color-gray);
    border-bottom: 1px solid var(--primary-color-light);
    margin-bottom: 10px;
    cursor: default;
}

#categoryRowSongs p {
    cursor: pointer;
}


/* Font side of 'Liked' text */
#categoryRowSongs p:last-child {
    font-size: 15px;
}

#categoryRowSongs:hover {
    background-color: transparent;
    box-shadow: none;
}

.songSort > span {
    float: right;
    /* not making them click thorugh causes errors when clicking them while sorting */
    pointer-events: none;
}


.infoRowSongs {
    list-style: none;
    display: flex;
    margin: 0px 0px 4px 0px;
    font-family: Montserrat;
    border-radius:5px;
    color: var(--primary-color-white);
    font-size: 15px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px;    
    transition: ease all 0.1s;
    
}

.infoRowSongs:hover {
    background-color: var(--primary-color-light);
    box-shadow: 0 3px 28px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
}

.infoRowSongs p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
}

/* Title column */
.infoRowSongs .songName {
    width: 200px;;
    font-weight: 500;
}

/* Album column */
.infoRowSongs .songAlbum {
    width: 200px;
}

/* Artist column */
.infoRowSongs .songArtist {
    width: 180px;;
}

/* Duration column*/
.infoRowSongs .songTime {
    width: 140px;
    text-align: center;
}

/* Year column */
.infoRowSongs .songYear {
    width: 120px;
    text-align: center;   
}

/* Liked column */
.infoRowSongs .songLiked {
    width: 100px;
    text-align: center;
    font-size: 18px;    
}

/* Extra Margin at end */
.infoRowSongs:last-child {
    margin-bottom: 30px;
}


.infoRowSongs p {
    display: inline-block;
}